@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo(a)!</h1>
    <p>
        Aqui no Carros e Motos BoB você encontrará os melhores carros usados.
        <br />
        Todos os carros anunciados são 100% legais, pode confiar!
    </p>
</div>
